@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'flowbite/dist/flowbite.css';
/* Your additional styles here */

.pagination {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 12px 4px;
  li {
    margin: 0 4px;
    display: inline-block;
  }

  a {
    display: block;
    padding: 2px 14px;
    color: #333;
    background-color: #fff;
    border: 1px solid #ddd;
    cursor: pointer;
    text-decoration: none;
    border-radius: 6px;
    &:hover {
      background-color: #ddd;
    }
  }

  .active a {
    /* background-color: #007bff; */
    background-color: rgb(26, 86, 219);
    color: #fff;
  }
}
/* 
.modal {
  visibility: hidden;
  &.open{
    visibility: visible;
  }
} */